# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Models and artifacts
artifacts/logs/*
artifacts/reports/*
artifacts/html/*
models/baseline/*
models/transformer/*

# Keep folder structure
!artifacts/logs/.gitkeep
!artifacts/reports/.gitkeep
!artifacts/html/.gitkeep
!models/baseline/.gitkeep
!models/transformer/.gitkeep

# Data
data/00-raw/*
data/01-bronze/*
data/02-silver/*
data/03-gold/*
data/04-inference/*

!data/00-raw/.gitkeep
!data/01-bronze/.gitkeep
!data/02-silver/.gitkeep
!data/03-gold/.gitkeep
!data/04-inference/.gitkeep

